.contentInpult {
    display: inline-block;
    width: 100%;
    text-align: center;
    max-width: 80%;
    padding: 1.5rem;
}

input {
    width: 348px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ccc; /* Adicionei borda */
    outline: none;
    margin: 0.5rem 0; /* Adicionei margem para separar elementos */
}

.dateInput, .timeInput {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    margin-top: 0.5rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn_buscar {
    margin-top: 2rem;
    padding: 10px 20px;
    width: 20%;
    background-color: var(--colorBtnCadastra);
    color: var(--color_branca);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_buscar:hover {
    background-color: var(--colorHoverBtnCadastra);
}

.totalizador {
    display: inline-block;
    width: 70%;
    text-align: left;
    padding: 1.5rem;
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    background-color: var(--color_branca);
}
