.menuCadastro {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.5rem;
}

.formGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

.formGroup2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
}

.titleCadastro {
    color: var(--color-titleCadastro);
    font-size: calc(1rem + 0.4vw);
}

.formGroup input {
    flex: 1;
    min-width: 200px;
    margin-left: 2rem;
}

.formGroup label {
    width: 3.5rem;
    color: var(--color-font);
    padding-top: 5px;
    text-align: right;
}

.formGroupCep,
.formGroupTelefone input {
    width: 18rem !important;
}

.formGroupNumero {
    width: 12rem;
}

.formControlEstado,
.formControlBairro {
    width: 21rem !important;
}

.btn_cadastra {
    margin-top: 2rem;
    background-color: var(--colorBtnCadastra);
}

.btn_cadastra:hover {
    background-color: var(--colorHoverBtnCadastra);
}