.menuCadastro {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0.5rem;
}

.formCadastro {
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: 2px solid var(--colorBtnCadastra);
    box-shadow: 0 25px 100px -5px rgba(0, 0, 0, .15);
    background: var(--color_branca);
    width: 60%;
}

.formGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

.formGroup2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4rem;
}

.titleCadastro {
    color: var(--color-titleCadastro);
    font-size: calc(1rem + 0.4vw);
}

.formGroup input {
    flex: 1;
    min-width: 200px;
    margin-left: 2rem;
}

.formGroup label {
    width: 5rem;
    color: var(--color-font);
    padding-top: 5px;
    text-align: left;
}

.formGroupCep, .formGroupTelefone input {
    width: 18rem !important;
}

.formGroupNumero {
    width: 12rem;
}

.formControlEstado, .formControlBairro {
    width: 21rem !important;
}

.btn_cadastra {
    margin-top: 2rem;
    background-color: var(--colorBtnCadastra);
}

.btn_cadastra:hover {
    background-color: var(--colorHoverBtnCadastra);
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
    .formCadastro {
        width: 80%;
    }

    .formGroup2 {
        margin-left: 2rem;
    }
}

@media (max-width: 768px) {
    .formCadastro {
        width: 90%;
    }

    .formGroup input {
        margin-left: 1rem;
    }

    .formGroup2 {
        margin-left: 1rem;
    }

    .menuCadastro {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .formCadastro {
        width: 100%;
    }

    .formGroup label {
        width: 100%;
        text-align: left;
    }

    .formGroup input {
        width: 100%;
        margin-left: 0;
    }

    .formGroup2 {
        margin-left: 0;
    }
}
