.content-form {
    background: white;
    width: 80%;
    margin: 0 auto;
}

.form-group {
    text-align: left;
}

.content-form label {
    text-align: left;
    padding-bottom: 0.3rem;
}

.btn-atualize {
    background-color: var(--colorBtnCadastra);
    color: var(--color_branca);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

/* Media queries para responsividade */
@media (max-width: 1024px) {
    .content-form {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .content-form {
        width: 95%;
    }

    .btn-atualize {
        padding: 8px;
        margin-top: 4px;
    }
}

@media (max-width: 480px) {
    .content-form {
        width: 100%;
    }

    .btn-atualize {
        padding: 6px;
        margin-top: 3px;
    }
}
