.pagamento,
.impressao-ticket {
  width: 100%;
  text-align: left;
  padding: 1.5rem;
  border: 1px solid var(--color-borde);
  border-radius: 8px;
  background-color: var(--color-bg-cinza-claro);
}

.btnpagamento {
  margin-top: 2rem;
  padding: 10px 20px;
  width: 100%;
  background-color: var(--colorBtnCadastra);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnpagamento:hover {
  background-color: var(--colorHoverBtnCadastra);
}

.pagamento label {
  display: block;
  margin-top: 10px;
  width: 100%;
  padding-bottom: 1rem;
}

.pagamento select,
.pagamento input[type="date"],
.pagamento input[type="text"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-borde);
  border-radius: 5px;
}

.pagamento input[type="checkbox"] {
  margin-top: 5px;
  margin-left: 0.5rem;
}

.pagamento p {
  margin-top: 1rem;
}

.pagamento p[style="color: red;"] {
  color: var(--color-error);
  font-weight: bold;
}

.pagamento h3 {
  margin-bottom: 2rem;
}


@media print {
  body * {
    visibility: hidden;
  }
  #printableArea, #printableArea * {
    visibility: visible;
  }
  #printableArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
