@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Container principal */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* Wrapper para elementos */
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color-borde);
    background: var(--color_branca);
    width: 80vw;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Caixa de conteúdo */
.box {
    padding: 2rem;
    background: var(--color_branca);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
    margin: 0 auto;
}

/* Título */
.title {
    color: var(--color-texto);
    font-size: 0.9rem;
    line-height: 1.25;
    font-weight: 400;
}

/* Estilo para cliente */
.cliente {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.2rem 0;
    flex-wrap: wrap;
    width: 90%;
}

/* Botão de atualização */
.btnAtualiza {
    width: 10%;
    padding-left: 2rem;
}

/* Estilo para título do cliente */
.cliente h2 {
    margin: 0;
    color: var(--color-texto);
    line-height: 1.25;
    font-size: calc(0.6rem + 0.6vw);
    margin-right: 1rem;
}

/* Estilo para parágrafos do cliente */
.cliente span {
    margin: 5px 0.1rem 0;
    padding-right: 0.5rem;
    color: var(--color-texto);
    font-size: calc(0.5rem + 0.4vw);
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
}

/* Estilo para inputs do cliente */
.cliente input {
    margin: 5px 0 0;
    color: var(--color-texto);
    font-size: calc(0.6rem + 0.6vw);
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    padding: 0.5rem;
}

.cliente input:focus {
    border-color: var(--color-hover-primary);
    outline: none;
}

/* Botão de registro */
.registerButton {
    width: 100%;
    padding: 10px;
    background-color: var(--colorBtnCadastra);
    color: var(--color_branca);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2rem;
}

.registerButton:hover {
    background-color: var(--colorHoverBtnCadastra);
}
