@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.defect-picker {
  width: 100%;
}

.defect-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.defect-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  text-align: center;
  color: var(--color-text-primary);
  font-weight: bold;
  border: 2px solid var(--color-border, #ccc);
  background-color: var(--color-background, #f5f5f5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px; /* Tamanho de fonte padrão */
}

.defect-cell.selected {
  border: 3px solid var(--color-hover-primary);
  background-color: var(--color-selected-background, #e0e0e0);
}

.defect-cell:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: var(--color-hover-background, #ddd);
}

.defect-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-align: center;
  color: var(--color-text-primary);
  margin-bottom: 2rem;
}

.button-defect {
  margin-top: 20px;
  padding: 10px 20px;
  width: 40%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: var(--colorBtnCadastra);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-defect:hover {
  background-color: var(--color-hover-secondary);
}

@media (max-width: 768px) {
  .defect-cell {
    height: 80px;
    width: 80px;
    font-size: 12px; /* Tamanho de fonte ajustado para dispositivos menores */
  }

  .defect-code {
    font-size: 16px;
  }

  .button-defect {
    width: 80%;
    font-size: 14px;
  }
}
