#formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 10px 0px;
    margin: 0 2rem;
    height: 20vh;
}

/* .controle_de_campo {
    margin: 2px 0px;
    padding: 4px 0rem;
    width: 33%;
} */

.controle_de_campo label {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 0px 24px;
    font-size: 15px;
}

.controle_de_campo input{
    width: 348px;
    display: block;
    margin: 2px auto;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 6px;
}




.btn_enter {
    display: block;
    width: 103px;
    color: var(--color_branca);
    padding: 7px 6px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: var(--color-icon);
}

.span_error {
    display: none;
    width: 100%;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: var(--color-error);
}

input:invalid[focused="true"] {
    border: 1px solid rgb(0, 255, 34);
}

input:invalid[focused="true"]~span {
    display: inline-block;
}