
.modalClienteAtualizar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-edit-client {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    box-sizing: content-box;
    width: 80%;
    max-height: 100vh; 
    overflow-y: auto; 
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* modal pagamento  */

.modalPagamento {
  display: block; 
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalContentPagamento {
  
  background-color: #fefefe;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 600px;
  border-radius: 5px
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
