
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-edit-client {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    box-sizing: content-box;
    width: 80%;
    max-height: 80vh; /* Limita a altura máxima do modal */
    /* overflow-y: auto; Adiciona scroll vertical se o conteúdo exceder a altura */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  