@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Overlay da Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  /* Alinhamento ao lado esquerdo */
  align-items: center;
  /* Centralização vertical */
  z-index: 1000;

}

/* Conteúdo da Modal */
.modalContent {
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* top: 5rem; */
  /* right: 5rem; */
  /* padding: 2rem; */
  /* border-radius: 8px; */
  /* position: relative; */
  /* box-sizing: border-box; */
  /* width: 90%; */
  /* max-width: 900px; */
  /* overflow-y: auto; */
  /* margin: 0; Remove as margens para alinhar à esquerda */

  position: fixed;
  right: 25rem;
  top: 25rem;
  width: 70%;
}

/* Container de Cartões */
.cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

/* Botão de Fechar */
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.closeButton:hover {
  color: var(--colorBtnCadastra);
}