.servico-picker {
  width: 100%;
}

.servico-picker {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 1.25rem;
}

.servico-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
}

.servico-cell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 6.25rem;
  width: 6.25rem; /* Definindo largura fixa */
  border-radius: 0.625rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  color: var(--color-text-primary);
  font-weight: 600;
  background-color: var(--color-bg-light);
  position: relative;
  word-break: break-word;
  overflow-wrap: break-word;
}

.servico-cell.selected {
  border: 0.188rem solid var(--color-hover-primary);
}

.servico-cell:hover {
  transform: scale(1.05);
  box-shadow: 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.button-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-TipoServicoPicker {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  width: 40%;
  color: var(--color_branca);
  background-color: var(--colorBtnCadastra);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.button-TipoServicoPicker:hover {
  background-color: var(--colorHoverBtnCadastra);
}

@media (max-width: 48rem) {
  .servico-cell {
    height: 5rem;
    width: 5rem;
    font-size: 0.75rem;
  }

  .button-TipoServicoPicker {
    width: 80%;
    font-size: 0.875rem;
  }
}

@media (max-width: 30rem) {
  .servico-cell {
    height: 4.375rem;
    width: 4.375rem;
    font-size: 0.625rem;
  }

  .button-TipoServicoPicker {
    width: 80%;
    font-size: 0.75rem;
  }
}
