.responsive-menu,
.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--color_branca);
  flex-wrap: wrap;
}

.HeaderContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.title-header {
  font-size: calc(0.5rem + 0.4vw);
  color: var(--color-texto-primario);
  text-align: center;
  padding: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  white-space: nowrap;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--color_branca);
}

.linkCadastro {
  display: flex;
}

.linkCadastro a {
  color: var(--color-texto-primario);
  text-decoration: none;
  font-size: calc(0.5rem + 0.4vw);
  padding: 0.5rem 1rem;
  font-weight: 300;
}

.iconeEstiloBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 5rem;
  border: none;
  background-color: var(--color_branca);
  text-decoration: none;
  cursor: pointer;
  font-family: roboto;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.iconeEstiloBase:hover {
  background-color: var(--color-hover-clicado);
}

@media (max-width: 768px) {

  .title-header,
  .linkCadastro a {
    font-size: calc(0.8rem + 0.4vw);
  }

  .navbar {
    justify-content: end !important;
  
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  .navbar-nav {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-collapse {
    background: transparent;
    flex-wrap: wrap;
  }

  .HeaderContent {
    flex-wrap: wrap;
    justify-content: center;
  }

  .responsive-menu,
  .navbar-nav {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: transparent;
  }
}

@media (max-width: 480px) {

  .title-header,
  .linkCadastro a {
    font-size: calc(1rem + 0.4vw);
  }
}
