
.responsive-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color_branca);
   border-top: 2px solid var(--color-line);
  border-bottom: 2px solid var(--color-line); 

}
.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  font-size: calc(10px + 1vw);
}
