.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
}

.responsive-menu,
.navbar-collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--color_branca);
  border-top: 2px solid var(--color-line);
  border-bottom: 2px solid var(--color-line);
  flex-wrap: wrap;
  /* Permitir que os itens quebrem para a próxima linha */
}

.HeaderContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  white-space: nowrap;
}

.title-header {
  color: var(--color-font);
  padding: 0.5rem 1rem 0 2rem;
  font-size: calc(0.5rem + 0.4vw);
}

.headerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  padding: 0.5rem;
}

.linkCadastro {
  display: flex;
}

.linkCadastro a {
  text-decoration: none;
  padding: 0.5rem 1rem 0 2rem;
  font-size: calc(0.5rem + 0.4vw);
  color: var(--color-font);
}

/* Media queries para responsividade */
@media (max-width: 768px) {

  .title-header,
  .linkCadastro a {
    font-size: calc(0.8rem + 0.4vw);
  }

  .navbar {
    justify-content: end !important;
    margin-top: 2rem;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  .navbar-nav {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-collapse {
    background: transparent;
  }

  .HeaderContent {
    flex-wrap: wrap;
    justify-content: center;
  }

  .responsive-menu,
  .navbar-nav {
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: transparent;
  }
}

@media (max-width: 480px) {

  .title-header,
  .linkCadastro a {
    font-size: calc(1rem + 0.4vw);
  }

}