
.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: .6rem;

}

.formGroup {
    display: flex;
    align-items: center;
    margin-top: 1rem;

}


.titleCadastro {
    color: var( --color-titleCadastro);
    font-size: calc(1rem + 0.4vw);
    text-align: center;

}

.formGroup input {
    width: 37.5rem;
    margin-left: 1rem;
    border: none;
}

.formGroup label {
    color: var(--color-font);
    float: left;
    padding-top: 5px;
    text-align: right;
}

.formGroupCep,
.formGroupTelefone input {
    width: 18rem !important;
    display: flex;
}

.formGroupNumero {
    width: 12rem;
    display: flex;
}

.formControlEstado,
.formControlBairro {
    width: 21rem !important;
    display: flex;
}


.btn_cadastra {
    margin-top: 2rem;
    
}

