.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 6px;
    height: 20vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

.box {

    border-radius: 8px;
    margin: 0 3rem;
    opacity: 0.9;
    cursor: pointer;
    padding: 1rem;
}

.controle_de_campo,
.passwordInput,
.inputGroupButton {
    display: block;
    padding: 0px 24px;
    font-size: 15px;
}

.controle_de_campo input,
.passwordInput input {
    width: 348px;
    display: block;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-border-secondary);
    padding: 0 10px;
    outline: none;
    transition: border-color 0.3s;
}

.controle_de_campo input:focus,
.passwordInput input:focus {
    border-color: var(--color_border);
}

.passwordInput input {
    width: 200px;
}

.controle_de_campo label,
.passwordInput label {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.6rem;
    color: var(--color-text-primary);
}

.btn_enter {
    width: 103px;
    padding: 8px;
    background-color: var(--colorBtnCadastra);
    color: var( --color_branca);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2rem;
    transition: background-color 0.3s;
}

.btn_enter:hover {
    background-color: var(--colorHoverBtnCadastra);
}

.passwordInput p,
.controle_de_campo p {
    width: 100%;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: var(--color-error);
}

.msgError {
    color: var(--color-error);
    font-size: 1.2rem;
}

.li {
    border-bottom: 1px solid var(--color-borde);
    padding: 0.5rem 0;
    cursor: pointer;
    transition: background-color 0.3s;
    background: var(--color-bg-light);
}

.li:hover {
    background-color: var(--color-hover-clicado);
}

ol,
ul {
    padding-left: 0 !important;
}

.confirmacao {
    background-color: var(--color-bg-warning);
    border-radius: 8px;
    border: 1px solid var(--color-border-warning);
    padding: 1rem;
    margin: 1rem auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.confirmacao p {
    margin-bottom: 1rem;
    color: var(--color-text-warning);
}

.confirmacao .btn-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.confirmacao .btn_confirm,
.confirmacao .btn_cancel {
    width: 45%;
    /* Ajusta largura dos botões */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmacao .btn_confirm {
    background-color: var(--color-hover-success);
    color: var(--color-branca);
}

.confirmacao .btn_confirm:hover {
    background-color: var(--color-text-success);
}

.confirmacao .btn_cancel {
    background-color: var(--color-hover-danger);
    color: var(--color-branca);
}

.confirmacao .btn_cancel:hover {
    background-color: var(--color-text-danger);
}