.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 6px;
    height: 20vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.controle_de_campo,
.passwordInput,
.inputGroupButton {
    display: block;
    padding: 0px 24px;
    font-size: 15px;
}



.controle_de_campo input {
    width: 348px;
    display: block;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.passwordInput input {
    width: 200px;
    display: block;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.controle_de_campo label,
.passwordInput label {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.6rem;
}


.btn_enter {
    width: 103px;
    padding: 6px;
    background-color: var(--colorBtnCadastra);
    color: var(--color_branca);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2rem;
}

.btn_enter:hover {
    background-color: var(--colorHoverBtnCadastra);
}

.passwordInput p,
.controle_de_campo p {
    /* display: none; */
    width: 100%;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    color: var(--color-error);
}

/*    teste */


