/* Estilos Gerais */
.ServicoLavagem {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100%;
  margin-top: 5rem;
}

.content-wrapper {
  margin: 0 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Layout da Página */
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

/* Responsividade */
@media only screen and (max-width: 780px) {
  .content-wrapper {
    flex-direction: column;
  }
  
  .button-TipoServicoPicker {
    width: 100% !important;
  }
}
