/* Importando fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos gerais do corpo */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

/* Variáveis de cor */
:root {
  --color_azul_bg: #09c;
  --color_border: #007399;
  --colorBtnCadastra: #09c;
  --colorHoverBtnCadastra: #0056b3;
  --color-hover-atualiza: rgb(173, 225, 242);
  --color-icon: #0000b3;
  --color_branca: #fff;
  --color-bg_menu: #F4F4F4;
  --color-hover-clicado: #f2f2f2;
  --color-borde: #ccc;
  --color-bg-cinza-claro: #f9f9f9;
  --color-texto: #253A44;
  --color-sub-titulo: rgb(64, 64, 64);
  --color-font: #000000;
  --color-line: rgba(35, 27, 27, 0.06);
  --color-error: red;
  --color-titleCadastro: #1E1E1E;

  /* Novas Cores */
  --color-bg-primary: #e9ecef;  /* Fundo primário */
  --color-bg-secondary: #dee2e6;  /* Fundo secundário */
  --color-bg-success: #d4edda;  /* Fundo de sucesso */
  --color-bg-danger: #f8d7da;  /* Fundo de erro */
  --color-bg-warning: #fff3cd;  /* Fundo de aviso */
  --color-bg-info: #d1ecf1;  /* Fundo de informação */
  --color-bg-light: #f8f9fa;  /* Fundo claro */
  --color-bg-leve: #f8f9fad4; /* Fundo leve e sutil */
  --color-bg-dark: #343a40;  /* Fundo escuro */
  --color-text-primary: #212529;  /* Texto primário */
  --color-text-secondary: #6c757d;  /* Texto secundário */
  --color-text-success: #155724;  /* Texto de sucesso */
  --color-text-danger: #721c24;  /* Texto de erro */
  --color-text-warning: #856404;  /* Texto de aviso */
  --color-text-info: #0c5460;  /* Texto de informação */
  --color-text-light: #f8f9fa;  /* Texto claro */
  --color-texto-primario: #333;  /* Texto primário */
  --color-text-dark: #343a40;  /* Texto escuro */
  --color-border-primary: #dae0e5;  /* Borda primária */
  --color-border-secondary: #ced4da;  /* Borda secundária */
  --color-border-success: #c3e6cb;  /* Borda de sucesso */
  --color-border-danger: #f5c6cb;  /* Borda de erro */
  --color-border-warning: #ffeeba;  /* Borda de aviso */
  --color-border-info: #bee5eb;  /* Borda de informação */
  --color-hover-primary: #007bff;  /* Hover primário */
  --color-hover-secondary: #6c757d;  /* Hover secundário */
  --color-hover-success: #28a745;  /* Hover de sucesso */
  --color-hover-danger: #dc3545;  /* Hover de erro */
  --color-hover-warning: #ffc107;  /* Hover de aviso */
  --color-hover-info: #17a2b8;  /* Hover de informação */
  --color-hover-light: #f8f9fa;  /* Hover claro */
  --color-hover-dark: #343a40;  /* Hover escuro */
}

/* Estilos para links */
a {
  text-decoration: none;
}

/* Remover o estilo de lista */
li {
  list-style: none;
}

/* Estilos para o cabeçalho */
header {
  position: fixed;
  width: 100%;
  background-color: var(--color-bg_menu);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos gerais do aplicativo com imagem de fundo */
.App {
  background-image: url('../src/img/bgcontainer.jpg');
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  /* Isso mantém a imagem fixa enquanto você rola o conteúdo */
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .App {
    min-height: 100vh;
    background-size: cover;
    /* Mantém o tamanho da imagem proporcional */
    background-attachment: scroll;
    /* Permite que a imagem se mova com o conteúdo em telas menores */
  }
}

@media (max-width: 480px) {
  .App {
    min-height: 100vh;
    background-size: cover;
    background-attachment: scroll;
  }
}
