:root {
  --color_azul_bg: #09c;
  --color_border: #007399;
  --color_branca: #fff;
  --color-bg_menu: #F4F4F4;

}

.App {
  text-align: center;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.responsive-menu {
  border-bottom: 2px solid var(--color_border);
  flex-direction: row;
  display: flex;
  justify-content: center;
  background-color: var(--color_azul_bg)
}



.menu-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--color_azul_bg);
  color: var(--color_branca);
  line-height: 1.5
}

.car {
  padding: 10px 50px;
  border-radius: 10px;
}